<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> OS VREDT</title>
  <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='assets/favicon.ico')}}">
  <style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #222222;
      color: white;
      text-align: center;
    }

    .footerImage {
      height: 15px;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('Subject.addsubject')}}">OS V<span style="color:red">RED</span>T</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('Subject.addsubject')}}">Subject</a></li>
        <li class="active"><a href="{{url_for('Topic.addtopic')}}">Topic</a></li>
        <li><a href="{{url_for('Video.addvideo')}}">Video</a></li>
        <li><a href="{{url_for('Video.addMeeting')}}">Meeting</a></li>
      </ul>
    </div>
  </nav>
  <form method="POST">
    <br>
    <br>
    <br>
    <div class="col-md-8 col-md-offset-2">
      {{form.hidden_tag()}}
      {{form.Topic_name.label}}{{form.Topic_name(class_="form-control input-lg")}}
      <br>
      {{form.Topic_Description.label}}{{form.Topic_Description(class_="form-control input-lg")}}
      <br>
      {{form.Subject_name.label}}{{form.Subject_name(class_="form-control input-lg")}}
      <br>
      <center>{{form.submit(class_="btn btn-success")}}</center>
      <br>

    </div>
  </form>
  <div class="footer">
    <p style="padding: 10px;">© 2020 Copyright: The Lone Samurai; Powered by <img
        src="{{url_for('static',filename='assets/hashnode_logo.png')}}" alt="" class="footerImage"> X <img
        src="{{url_for('static',filename='assets/planetscale_logo.png')}}" alt="" class="footerImage"></p>

  </div>
</body>

</html>